<h4>Editing Turf Info</h4>

<%= render 'form', turf_info: @turf_info %>

<%= link_to 'Show', @turf_info, class: "waves-effect waves-light btn" %>
<%= link_to 'Back', turf_infos_path, class: "waves-effect waves-light btn"%>
